<article class="post">
    <div class="post-content" id="org">
        <table style="border-collapse: collapse; border: none; width: 100%; table-layout: fixed;">
            {% assign organizer_names = "Haoyu Wang|Shuai Wang|Guanhong Tao|Xinyue Shen|Yanjie Zhao" | split: "|" %}
            {% for organizer_name in organizer_names %}
                {% assign organizer = site.organizers | where: "name", organizer_name | first %}
                {% if organizer %}
                <td style="border: none; vertical-align: top; width: 20%;">
                    <div class="col-xs-12">
                        <p align="center">
                            {% if organizer.img %}
                                <img class="people-pic" src="{{ organizer.img | prepend: 'assets/img/organizers/' | prepend: site.baseurl | prepend: site.url }}" target="_blank">
                            {% else %}
                                <img class="people-pic" src="{{ 'avatar.jpg' | prepend: 'assets/img/organizers/' | prepend: site.baseurl | prepend: site.url }}" target="_blank">
                            {% endif %}
                            <br>
                            {% if organizer.webpage %}
                                <a href="{{ organizer.webpage }}" target="_blank" style="white-space: nowrap;"><b>{{ organizer.name }}</b></a>
                            {% else %}
                                <b style="white-space: nowrap;">{{ organizer.name }}</b>
                            {% endif %}
                            <br>
                            {% if organizer.affil_link %}
                                <a href="{{ organizer.affil_link }}" target="_blank">{{ organizer.affil }}</a>
                            {% else %}
                                {{ organizer.affil }}
                            {% endif %}
                            <br>
                            {% if organizer.role %}
                                <i>{{ organizer.role }}</i>
                            {% endif %}
                            <br>
                        </p>
                    </div>
                </td>
                {% endif %}
            {% endfor %}
        </table>
    </div>
</article>
